html{
  padding: 70px;
  border: 20px solid rgb(243, 199, 76)
}

h2 {
  font-size: 500%;
  color: blue;
  text-align: center;
}

h3 {
  font-size: 300%;
  color: blueviolet;
  text-align: left;
}

p{
  font-size: 200%;
  color: black;
  text-align: center;
}
figure {
  background-color: white;
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;

  font-size:1vw;
  width: 30em;
  padding-bottom: 40em;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}


circle {
	fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,0,0,100;
  stroke-dashoffset: 25;
  -webkit-animation: pie1 3s infinite ease both;
  animation: pie1 6s infinite ease both;
}
.pie1 {
  stroke:hsl(180,70%,30%);
}
.pie2 {
  stroke:hsl(180,70%,50%);
  -webkit-animation-name: pie2;
  animation-name: pie2;
}


@-webkit-keyframes pie1 {
  50%,100% {stroke-dasharray: 10,60,0,0;}
}
@keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}

@-webkit-keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,90,90;}
}
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,90,90;}
}

#highlight{
  color: white;
  opacity: 50%;
  animation: moveHighlight 2s infinite;
  transform: translate (0%);
  animation-iteration-count: infinite;
}
@keyframes moveHighlight{
  
  0%   {background-color:red; transform: translate(0%);}
  
  50%  {background-color:red; transform: translate(200%) ;}
  75%  {background-color:red; transform: translate(200%) ;}
  100% {background-color:red; transform:translate(0%);}
}

#banner {
  width: 300px;
  height: 300px;
  margin: 10px auto;
  position: relative;
  background: rgb(49, 4, 253);
  border-radius: 50%;
  overflow: hidden;
}
#banner::before {
  content: '';
  position: absolute;
  background: #04ACFF;
  width: 100%;
  bottom: 0;
  animation: fillWater 2s infinite;
  animation-iteration-count: infinite;
  
}
@keyframes fillWater {
  0% {
    height: 0;
  }
  100% {
    height: 3%;
  }
}

.stressMap{
  position: relative;
  
}
