#activities{
  visibility: hidden;
}

form{
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

label{
  font-size: 25px;
}
#leftoption, #rightoption {
    width: 50%;
    background: blue;
    position: realtive;
}

#leftoption:hover, #rightoption:hover{
  background: #64acff;
}
.wipeRight {
  animation: wipeRight 1s;
  transform: translate(0%)
}

.wipeLeft {
  animation: wipeLeft 1s;
  transform: translate(0%)
}

@keyframes wipeRight{
  to {transform: translate(200%)}
}

@keyframes wipeLeft{
  to {transform: translate(-200%)}
}

.center {
  text-align:center;
  font-size: 48px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

#header {
  color: rgb(72, 72, 253);
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 52px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
	
#submit{
  margin: 12px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  width: 200px;
  height: 36px;
}
